#contactleft {
    width: 546px;
    margin: 0px;
    padding: 0px;
    float: left;
}
    #contactintroduction {
        width: 536px;
        margin: 0px;
        padding: 10px 5px 10px 5px;
        border-top: 0px;
        border-right: 0px;
        border-bottom: 1px;
        border-left: 0px;
        border-style: solid;
        border-color: #7FCBE1;
        float: left;
        background-color: #EDF8FB;
    }
    .contactcredits {
        width: 536px;
        padding: 10px 5px 10px 5px;
        margin: 0px;
        float: left;
        background-color: #EDF8FB;
        border-top: 0px;
        border-right: 0px;
        border-bottom: 1px;
        border-left: 0px;
        border-style: solid;
        border-color: #7FCBE1;
    }
#contactright {
    width: 454px;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    float: left;
}
    #contactform {
        width: 450px;
        margin: 0px 0px 0px 4px;
        padding: 10px 5px 30px 5px;
        border-top: 0px;
        border-right: 0px;
        border-bottom: 1px;
        border-left: 0px;
        border-style: solid;
        border-color: #7FCBE1;
        float: left;
        background-color: #D9F0F6;
    }
    #contactnewsletter {
        width: 450px;
        padding: 10px 5px 10px 5px;
        margin: 0px 0px 0px 4px;
        float: left;
        background-color: #D9F0F6;
        border-top: 0px;
        border-right: 0px;
        border-bottom: 1px;
        border-left: 0px;
        border-style: solid;
        border-color: #b8b9bb;
    }
    .contactheader {
        font-family: verdana;
        font-size: 14px;
        font-weight: bold;
        color: #000000;
        margin: 0px;
        padding: 10px 10px 10px 10px;
    }
    .contacttext {
        font-family: verdana;
        font-size: 11px;
        font-weight: normal;
        color: #515532;
        margin: 0px;
        padding: 10px 10px 20px 10px;
    }
    #formtext {
        width: 130px;
        margin: 0px 20px 0px 0px;
        padding: 0px;
        float: left;
    }
    .contactformtext {
        width: 100px;
        height: 28px;
        margin: 0px 0px 1px 0px;
        padding: 0px 0px 0px 30px;
        font-family: verdana;
        font-size: 10px;
        font-weight: nomral;
        text-align: right;
        line-height: 30px;
        float: left;
        color: #515532;
    }
    #contactformfield {
        width: 252px;
        float: left;
        margin: 0px;
        padding: 0px;
    }
    .contactforminput {
        width: 250px;
        height: 25px;
        border: 1px;
        border-style: solid;
        border-color: #525354;
        background-color: #D9F0F6;
        margin: 0px 0px 1px 0px;
    }
    .contactforminputlong {
        width: 250px;
        height: 125px;
        border: 1px;
        border-style: solid;
        border-color: #525354;
        background-color: #D9F0F6;
        margin: 0px 0px 1px 0px;
    }
    .formsubmit {
        width: 100px;
        height: 25px;
        background-color: #525252;
        font-family: verdana;
        font-size: 11px;
        font-weight: none;
        color: #e1e2e4;
        text-align: center;
        line-height: 22px;
        border: 0px;
        border-style: none;
        border-color: #525252;
        float: right;
        padding: 0px;
        margin: 15px 0px 0px 0px;
    }