/* 
    Document   : default
    Created on : 31-jan-2012, 9:39:39
    Author     : Peter
    Description:
        Purpose of the stylesheet follows.
*/
html {
    overflow-y: scroll;
}
.body { 
   width: 100%;
   height: 100%;
   margin: 0px;
   padding: 0px;
   background-image: url("../../imgBackend/background.png");
   background-repeat: repeat-x;
   background-color: #6c8592;
}
.bodyAction { 
   width: 100%;
   height: 100%;
   margin: 0px;
   padding: 0px;
   background-image: url("../../imgBackend/background.png");
   background-repeat: repeat-x;
   background-color: #6c8592;
}
#contentcontainer {
    width: 1008px;
    margin: 30px auto 0px auto;
    padding: 0px;
    background-color: #dfe2e5;
    border: 1px;
    border-style: solid;
    border-color: #000000;
    text-align: center;
}
#tablecontainer {
    height: auto;
    width: 990px;
    margin: 9px 9px 9px 9px;
    padding: 0px;
    text-align: center;
}
    .tableheader {
        width: 990px;
        height: 34px;
        margin: 0px;
        padding: 0px;
        background-color: #a9afb3;
        border-top: 1px;
        border-right: 1px;
        border-bottom: 1px;
        border-left: 1px;
        border-style: solid;
        border-color: #6b6c6e;
        font-family: verdana;
        font-size: 22px;
        font-weight: normal;
        font-style: normal;
        color: #000000;
    }
        .tableheadername {
            float: left;
            line-height: 34px;
            margin: 0px;
            padding: 0px 10px 0px 10px;
        }
        .tableheadername a { color: #000; text-decoration: none;}
        .tableheadername a:hover { color: #000; text-decoration: underline; }
        .tableheadername a:active { color: #000; text-decoration: underline; }
        .tableheaderoption {
            height: 34px;
            float: right;
            padding: 0px;
            margin: 0px 10px 0px 0px;
        }
    .columnheaders {
        height: 24px;
        width: 990px;
        margin: 0px;
        padding: 0px;
        background-color: #a9afb3;
        border-top: 0px;
        border-right: 1px;
        border-bottom: 1px;
        border-left: 1px;
        border-style: solid;
        border-color: #6b6c6e;
        font-family: verdana;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        color: #e9eef0;
        line-height: 24px;
        }
            .column1header {
                min-width: 255px;
                width: auto;
                height: 24px;
                float: left;
                margin: 0px;
                padding: 0px;
                text-align: center;
            }
            .column2header {
                width: 105px;
                height: 24px;
                margin: 0px;
                padding: 0px;
                text-align: center;
                float: right;
            }
            .column3header {
                width: 127px;
                height: 24px;
                margin: 0px;
                padding: 0px;
                text-align: center;
                float: right;
            }
            .column3headerwide {
                width: 227px;
                height: 24px;
                margin: 0px;
                padding: 0px;
                text-align: center;
                float: right;
            }
            .column4header {
                width: 127px;
                height: 24px;
                margin: 0px;
                padding: 0px;
                text-align: center;
                float: right;
            }
            .column5header {
                width: 127px;
                height: 24px;
                margin: 0px;
                padding: 0px;
                text-align: center;
                float: right;
            }
            .column6header {
                width: 44px;
                height: 24px;
                margin: 0px;
                padding: 0px;
                text-align: center;
                float: left;
            }
            .column7header {
                width: 73px;
                height: 24px;
                margin: 0px;
                padding: 0px;
                text-align: center;
                float: right;
            }
            .column8header {
                width: 67px;
                height: 24px;
                margin: 0px;
                padding: 0px;
                text-align: center;
                color: #6b6c6e;
                float: right;
            }
            .column9header {
                width: 65px;
                height: 24px;
                margin: 0px;
                padding: 0px;
                text-align: center;
                color: #6b6c6e;
                float: right;
            }
      .tablerow1 {
            width: 990px;
            height: 24px;
            margin: 0px;
            padding: 0px;
            background-color: #cfd6db;
            float: left;
            border-top: 0px;
            border-right: 1px;
            border-bottom: 1px;
            border-left: 1px;
            border-style: solid;
            border-color: #6b6c6e;
            font-family: verdana;
            font-size: 10px;
            font-weight: normal;
            font-style: normal;
            color: #000000;
        }
      .tablerow2 {
            width: 990px;
            height: 24px;
            background-color: #c1c8cd;
            float: left;
            border-top: 0px;
            border-right: 1px;
            border-bottom: 1px;
            border-left: 1px;
            border-style: solid;
            border-color: #6b6c6e;
            font-family: verdana;
            font-size: 10px;
            font-weight: normal;
            font-style: normal;
            color: #000000;
        }
            .column1 {
                min-width: 245px;
                width: auto;
                height: 18px;
                margin: 3px 0px 0px 0px;
                padding: 0px 0px 0px 10px;
                text-align: left;
                float: left;
                line-height: 18px;
            }
                .column1 a {color: #000; text-decoration: none;}
                .column1 a:hover {color: #000; text-decoration: underline;}
            .column2 {
                width: 104px;
                height: 18px;
                margin: 3px 0px 0px 0px;
                padding: 0px;
                text-align: center;
                float: right;
                border-top: 0px;
                border-right: 0px;
                border-bottom: 0px;
                border-left: 1px;
                border-style: solid;
                border-color: #acb3b8;
                line-height: 18px;
            }
            .column3 {
                width: 126px;
                height: 18px;
                margin: 3px 0px 0px 0px;
                padding: 0px;
                text-align: center;
                float: right;
                border-top: 0px;
                border-right: 0px;
                border-bottom: 0px;
                border-left: 1px;
                border-style: solid;
                border-color: #acb3b8;
                line-height: 18px;
            }
            .column3wide {
                width: 226px;
                height: 18px;
                margin: 3px 0px 0px 0px;
                padding: 0px;
                text-align: center;
                float: right;
                border-top: 0px;
                border-right: 0px;
                border-bottom: 0px;
                border-left: 1px;
                border-style: solid;
                border-color: #acb3b8;
                line-height: 18px;
            }
            .column4 {
                width: 126px;
                height: 18px;
                margin: 3px 0px 0px 0px;
                padding: 0px;
                text-align: center;
                float: right;
                border-top: 0px;
                border-right: 0px;
                border-bottom: 0px;
                border-left: 1px;
                border-style: solid;
                border-color: #acb3b8;
                line-height: 18px;
            }
            .column5 {
                width: 126px;
                height: 18px;
                margin: 3px 0px 0px 0px;
                padding: 0px;
                text-align: center;
                float: right;
                border-top: 0px;
                border-right: 0px;
                border-bottom: 0px;
                border-left: 1px;
                border-style: solid;
                border-color: #acb3b8;
                line-height: 18px;
            }
            .column6 {
                width: 43px;
                height: 18px;
                margin: 3px 0px 0px 0px;
                padding: 0px;
                text-align: center;
                float: left;
                border-top: 0px;
                border-right: 1px;
                border-bottom: 0px;
                border-left: 0px;
                border-style: solid;
                border-color: #acb3b8;
                line-height: 18px;
            }
            .column7 {
                width: 72px;
                height: 18px;
                margin: 3px 0px 0px 0px;
                padding: 0px;
                text-align: center;
                float: right;
                border-top: 0px;
                border-right: 0px;
                border-bottom: 0px;
                border-left: 1px;
                border-style: solid;
                border-color: #acb3b8;
                line-height: 18px;
            }
            .column8 {
                width: 66px;
                height: 18px;
                margin: 3px 0px 0px 0px;
                padding: 2px 0px 0px 0px;
                text-align: center;
                float: right;
                border-top: 0px;
                border-right: 0px;
                border-bottom: 0px;
                border-left: 1px;
                border-style: solid;
                border-color: #acb3b8;
                line-height: 18px;
            }
            .column9 {
                width: 64px;
                height: 18px;
                margin: 3px 0px 0px 0px;
                padding: 2px 0px 0px 0px;
                text-align: center;
                float: right;
                border-top: 0px;
                border-right: 0px;
                border-bottom: 0px;
                border-left: 1px;
                border-style: solid;
                border-color: #acb3b8;
                line-height: 18px;
            }
            .partialoption {
                width: 28px;
                height: 16px;
                margin: 0px 0px 0px 2px;
                padding: 0px;
                float: left;
                text-align: center;
            }
            #endoftable {
                width: 500px;
                height: 30px;
                line-height:30px;
                border: 1px;
                border-color: #6b6c6e;
                border-style: solid;
                margin: 0px auto 9px auto;
                padding: 0px;
                text-align: center;
                font-family: verdana;
                font-size: 11px;
                font-style: normal;
                font-weight: normal;
            }
            .imagelink {
                border: 0px;
                padding: 0px;
                margin: 0px;
            }
            #contenteditsucces {
                width: 700px;
                line-height: 40px;
                font-family: verdana;
                font-size: 14px;
                font-weight: normal;
                margin: 20px auto 20px auto;
                padding: 0px;
            }
#formdeletebutton {
    width: 41px;
    height: 34px;
    background: url(../../imgBackend/headerdelete.png);
    border: none;
    line-height: 41px;
    margin: 0px;
    padding: 0px;
}