#fullheader {
    width: 100%;
    height: 60px;
    padding: 0px;
    margin: 0px;
    font-family: verdana;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    color: #e5eff5;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 1px;
    border-left: 0px;
    border-style: solid;
    border-color: #000000;
}
    #fulltop {
        width: 100%;
        height: 30px;
        margin: 0px;
        padding: 0px;
        background-color: #5b5a5a;
    }
        #topcontainer {
            width: 1010px;
            height: 30px;
            margin: 0px auto 0px auto;
            padding: 0px;
            line-height: 30px;
        }
        #welcome {
            height: 30px;
            padding: 0px;
            margin: 0px;
            float: left;
        }
            #sitemenu {
                height: 30px;
                margin: 0px;
                padding: 0px;
                float: right;
            }
                .none {
                    margin: 0px;
                    padding: 0px;
                }
                    .sitemenuitemflags {
                        height: 29px;
                        float: left;
                        line-height: 30px;
                        padding: 0px;
                        margin: 0px 0px 0px 0px;
                        list-style: none;
                    }
                    .sitemenuitemflags ul {
                        height: 29px;
                        padding: 0px;
                        margin: 0px 0px 0px 0px;
                        list-style: none;
                        float: left;
                    }
                   .sitemenuitemflags li {
                        height: 29px;
                        display: inline;
                        margin: 0px;
                        padding: 0px;
                    }
                    .sitemenuitemflags a {
                        height: 29px;
                        padding: 0px 10px 0px 10px;
                        color: #e5eff5;
                        font-family: verdana;
                        font-size: 12px;
                        font-weight: normal;
                        font-style: normal;
                        text-decoration: none;      
                        display: block;
                        margin: 0px 0px 0px 0px;
                    }
                    .sitemenuitemflags a span{
                        padding: 0px; 
                        height: 29px;
                        padding: 0px 0px 0px 0px;
                        color: #ff6600;
                        font-family: verdana;
                        font-size: 12px;
                        font-weight: normal;
                        font-style: normal;
                        text-decoration: none;      
                        display: inline;
                        margin: 0px 0px 0px 0px;
                    }
                    .sitemenuitemflags a:hover {
                        height: 29px;
                        line-height: 30px;
                        display: block;
                        margin: 0px 0px 0px 0px;
                        color: #e5eff5;
                        padding: 0px 10px 0px 10px;
                        background-color: #ff6600;
                    } 
                    .sitemenuitemflags a:hover span {
                        height: 29px;
                        line-height: 30px;
                        display: inline;
                        margin: 0px 0px 0px 0px;
                        color: #e5eff5;
                        padding: 0px 0px 0px 0px;
                        background-color: #ff6600;
                    } 
                    .sitemenuitemflagsactive {
                        height: 29px;
                        float: left;
                        line-height: 30px;
                        padding: 0px;
                        margin: 0px 0px 0px 0px;
                        list-style: none;
                    }
                    .sitemenuitemflagsactive ul {
                        height: 29px;
                        padding: 0px;
                        margin: 0px 0px 0px 0px;
                        list-style: none;
                        float: left;
                    }
                   .sitemenuitemflagsactive li {
                        height: 29px;
                        display: inline;
                        margin: 0px;
                        padding: 0px;
                    }
                    .sitemenuitemflagsactive a {
                        height: 29px;
                        padding: 0px 10px 0px 10px;
                        color: #e5eff5;
                        font-family: verdana;
                        font-size: 12px;
                        font-weight: normal;
                        font-style: normal;
                        text-decoration: none;      
                        display: block;
                        margin: 0px 0px 0px 2px;
                        background-color: #ff6600;
                    }
                    .sitemenuitemflagsactive a span{
                        padding: 0px;
                        height: 29px;
                        padding: 0px 0px 0px 0px;
                        color: #e5eff5;
                        font-family: verdana;
                        font-size: 12px;
                        font-weight: normal;
                        font-style: normal;
                        text-decoration: none;      
                        display: inline;
                        margin: 0px 0px 0px 0px;
                    }
                    .sitemenuitemflagsactive a:hover {
                        height: 29px;
                        line-height: 30px;
                        display: block;
                        margin: 0px 0px 0px 2px;
                        color: #e5eff5;
                        padding: 0px 10px 0px 10px;
                        background-color: #ff6600;
                    } 
                    .sitemenuitemflagsactive a:hover span {
                        height: 29px;
                        line-height: 30px;
                        display: inline;
                        margin: 0px 0px 0px 0px;
                        color: #e5eff5;
                        padding: 0px 0px 0px 0px;
                        background-color: #ff6600;
                    } 
                    .sitemenuitem {
                        height: 29px;
                        float: left;
                        line-height: 30px;
                        padding: 0px;
                        margin: 0px 0px 0px 0px;
                        list-style: none;
                    }
                    .sitemenuitem ul {
                        height: 29px;
                        padding: 0px;
                        margin: 0px;
                        list-style: none;
                        float: left;
                    }
                    .sitemenuitem li {
                        height: 29px;
                        display: inline;
                        margin: 0px;
                        padding: 0px;
                    }
                    .sitemenuitem a {
                        height: 29px;
                        padding: 0px 10px 0px 10px;
                        color: #e5eff5;
                        font-family: verdana;
                        font-size: 12px;
                        font-weight: normal;
                        font-style: normal;
                        text-decoration: none;      
                        display: block;
                        margin: 0px 0px 0px 2px;
                    }
                    .sitemenuitem a:hover {
                        height: 29px;
                        line-height: 30px;
                        display: block;
                        margin: 0px 0px 0px 2px;
                        color: #e5eff5;
                        padding: 0px 10px 0px 10px;
                        background-color: #3988b6;
                    }
                    .sitemenuitemactive {
                        height: 29px;
                        float: left;
                        line-height: 30px;
                        padding: 0px;
                        margin: 0px 0px 0px 0px;
                        list-style: none;
                    }
                    .sitemenuitemactive ul {
                        height: 29px;
                        padding: 0px;
                        margin: 0px;
                        list-style: none;
                        float: left;
                    }
                   .sitemenuitemactive li {
                        height: 29px;
                        display: inline;
                        margin: 0px;
                        padding: 0px;
                    }
                    .sitemenuitemactive a {
                        height: 29px;
                        padding: 0px 10px 0px 10px;
                        color: #e5eff5;
                        font-family: verdana;
                        font-size: 12px;
                        font-weight: normal;
                        font-style: normal;
                        text-decoration: none;      
                        display: block;
                        margin: 0px 0px 0px 2px;
                        background-color: #3988b6;
                    }
                    .sitemenuitemactive a:hover {
                        height: 29px;
                        line-height: 30px;
                        display: block;
                        margin: 0px 0px 0px 2px;
                        color: #e5eff5;
                        padding: 0px 10px 0px 10px;
                        background-color: #3988b6;
                    } 
    #fullsub {
        width: 100%;
        height: 30px;
        margin: 0px;
        padding: 0px;
        background-color: #6a7175;
    }
        #subcontainer {
            width: 1010px;
            height: 30px;
            margin: 0px auto 0px auto;
            padding: 0px;
            line-height: 30px;
        }
            .subbutton {
                height: 30px;
                padding: 0px;
                margin: 0px 20px 0px 0px;
                float: left;
            }
            .subbutton a {color: #e5eff5; text-decoration: underline;}
            .subbutton a:hover {color: #3988b6; text-decoration: underline;}
            .subbutton a:active {color: #3988b6; text-decoration: underline;}
            #submenu {
                height: 30px;
                float: right;
                margin: 0px 260px 0px 0px;
                padding: 0px;
            }
            #submenu1 {
                height: 30px;
                float: right;
                margin: 0px 155px 0px 0px;
                padding: 0px;
            }
                    .submenuitem {
                        height: 30px;
                        float: left;
                        line-height: 30px;
                        padding: 0px;
                        margin: 0px 0px 0px 0px;
                        list-style: none;
                    }
                    .submenuitem ul {
                        height: 30px;
                        padding: 0px;
                        margin: 0px;
                        list-style: none;
                        float: left;
                    }
                    .submenuitem li {
                        height: 30px;
                        display: inline;
                        margin: 0px;
                        padding: 0px;
                    }
                    .submenuitem a {
                        height: 30px;
                        padding: 0px 10px 0px 10px;
                        color: #aeb2b4;
                        font-family: verdana;
                        font-size: 12px;
                        font-weight: normal;
                        font-style: normal;
                        text-decoration: none;      
                        display: block;
                        margin: 0px 0px 0px 2px;
                    }
                    .submenuitem a:hover {
                        height: 25px;
                        line-height: 30px;
                        display: block;
                        margin: 0px 0px 0px 2px;
                        color: #bbbfc2;
                        padding: 0px 10px 0px 10px;
                        border-top: 0px;
                        border-right: 0px;
                        border-bottom: 5px;
                        border-left: 0px;
                        border-style: solid;
                        border-color: #aeb2b4;
                    }
                    .submenuitemactive {
                        height: 30px;
                        float: left;
                        line-height: 30px;
                        padding: 0px;
                        margin: 0px 0px 0px 0px;
                        list-style: none;
                    }
                    .submenuitemactive ul {
                        height: 30px;
                        padding: 0px;
                        margin: 0px;
                        list-style: none;
                        float: left;
                    }
                    .submenuitemactive li {
                        height: 30px;
                        display: inline;
                        margin: 0px;
                        padding: 0px;
                    }
                    .submenuitemactive a {
                        height: 25px;
                        padding: 0px 10px 0px 10px;
                        color: #aeb2b4;
                        font-family: verdana;
                        font-size: 12px;
                        font-weight: normal;
                        font-style: normal;
                        text-decoration: none;      
                        display: block;
                        margin: 0px 0px 0px 2px;
                        border-top: 0px;
                        border-right: 0px;
                        border-bottom: 5px;
                        border-left: 0px;
                        border-style: solid;
                        border-color: #aeb2b4;
                    }
                    .submenuitemactive a:hover {
                        height: 25px;
                        line-height: 30px;
                        display: block;
                        margin: 0px 0px 0px 2px;
                        color: #bbbfc2;
                        padding: 0px 10px 0px 10px;
                        border-top: 0px;
                        border-right: 0px;
                        border-bottom: 5px;
                        border-left: 0px;
                        border-style: solid;
                        border-color: #bbbfc2;
                    }