#logocontainer {
    width: 500px;
    height: 80px;
    float: left;
    margin: 0px;
    padding: 0px;
    font-smooth: always;
}
    #logo {
        width: 379px;
        height: 115px;
      
        font-family: verdana;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        color: #202020;
        float: right;
        margin: 0px 0px 0px 0px;
        padding: 0px;
        line-height: 55px;
    font-smooth: always;
   
    }
      #twitter {
        width: 40px;
        height: 40px;
      
        font-family: verdana;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        color: #202020;
        float: left;
       margin: 68px 20px 0px 0px;
        padding: 0px;
       
    font-smooth: always;
   
    }
      #facebook {
        width: 40px;
        height: 40px;
      
        font-family: verdana;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        color: #202020;
        float: left;
         margin: 68px 0px 0px 0px;
        padding: 0px;
      
    font-smooth: always;
   
    }
    #logolink {
        font-family: verdana;
        font-style: normal;
        font-weight: normal;
        color: #202020;
        text-decoration: none;
    font-smooth: always;
    }
    #slogan {
        width: 400px;
        height: 30px;
        font-family: verdana;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        color: #0098C3;
        float: right;
        margin: 40px -5px 0px 0px;
        padding: 0px;
        line-height: 25px;
    }
#right {
    width: 582px;
    height: 80px;
    margin: 0px 0px 0px 21px;
    float: left;
}
    #righttop {
        float: right;
        height: 30px;
        margin: 0px;
        padding: 0px;
    }
        #optionscontainer {
            float: left;
            margin: 10px 117px 0px 0px;
            padding: 0px;
        }
            .option {
                width: 24px;
                height: 18px;
                background-image:url('../img/optionbg.png');
                background-repeat: repeat-x;
                float: left;
                margin-top: 0px;
                margin-right: 1px;
                margin-bottom: 0px;
                margin-left: 0px;
                padding: 0px;
                text-align: center;
                line-height: 18px;
            }
            #spacer {
                width: 5px;
                height: 18px;
                float: left;
                margin: 0px;
                padding: 0px;
            }
        #searchcontainer {
            min-width: 290px;
            height: 24px;
            float: right;
            margin: 5px 0px 0px 0px;
            padding: 0px;
        }
            #searchbar {
                width: 200px;
                height: 23px;
                float: left;
                margin: 0px;
                padding: 0px 0px 0px 5px;
                border-top: 0px;
                border-right: 0px;
                border-bottom: 1px;
                border-left: 0px;
                border-style: solid;
                border-color: #535353;
                font-family: verdana;
                font-size: 11px;
                font-style: italic;
                font-weight: normal;
                line-height: 24px;
                color: #202123;
                background-color: #b8b9bb;
            }
            #searchbutton {
                width: 85px;
                height: 24px;
                margin: 0px;
                padding: 0px;
                font-family: verdana;
                font-size: 12px;
                font-weight: normal;
                font-style: normal;
                color: #e0e1e3;
                background-color: #535353;
                line-height: 24px;
                text-align: center;
                float: left;
                border: 0px;
            }
    #menucontainer {
        float: right;
        text-align: left;
        margin: 41px 0px 0px 0px;
        padding: 0px;
        height: 40px;
       
        
    }
        .menuitem {
            float: left;
            line-height: 29px;
            height: 40px;
            padding: 0px;
            margin: 0px;
            list-style: none;
        }
        .menuitem li {
            height: 40px;
            display: inline;
        }
        .menuitem a {
            height: 40px;
            padding: 10px 20px 10px 20px;
            color: #FFFFFF;
            font-family: verdana;
            font-size: 18px;
            font-weight: normal;
            font-style: bold;
            text-decoration: none;      
            background-image:url('../../imgFrontend/menubackground.png');
            background-repeat: repeat-x;
        }
        .menuitem a:hover {
            height: 40px;
            line-height: 29px;
            background-image:url('../../imgFrontend/menuhoverbackground.png');
            background-repeat: repeat-x;
        }

        .currentmenuitem {
            float: left;
            line-height: 29px;
            padding: 0px;
            margin: 0px;
            list-style: none;
            height: 40px;
        }
        .currentmenuitem li {
            height: 40px;
            display: inline;
        }
        .currentmenuitem a {
            height: 40px;
            padding: 3px 20px 3px 20px;
            color: #e0e1e3;
            font-family: verdana;
            font-size: 18px;
            font-weight: normal;
            font-style: normal;
            text-decoration: none;      
            background-image:url('../../imgFrontend/menuhoverbackground.png');
            background-repeat: repeat-x;
        }
        .currentmenuitem a:hover {
            height: 40px;
            line-height: 29px;
            background-image:url('../../imgFrontend/menuhoverbackground.png');
            background-repeat: repeat-x;
        }